@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

.card {
  width: fit-content;
  /* display: inline-flex; */
  margin: 1rem;
}

.cardsContainer {
  display: inline-flex;
  margin-bottom: 5.5rem;
  color: rgba(8, 7, 5, 0.623);
  font-size: larger;
  font-weight: bold;
}

body {
  background-color:white;
  padding: 1rem;
  color: black;
}

.pagination-buttons {
  margin: 0.25rem;
}
#text-input {
  width: 13rem;
}

.pagList-container {
  float: right;
}

.form-container {
  float: left;
  margin-right: 5rem;
}

.Navbar {
    background-color:rgba(16, 40, 255, 0.801);
  color:white;
font-size: 13px;

}

.header{

    background-color:rgba(0, 0, 0, 0.712);
    color:white;
  font-size: 11px;
  padding: 2px;
margin-top: 13px;
}

.toDoForm{

    border: black 20px;
}